/* fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto+condensed:300,400,600,700);
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

.author {
  text-align: center;
  color: 	#2369BE;
}

h1, h3, h4 {
  font-family: 'Roboto condensed';
}

.left-colum h2 {
  font-size: 22px;
}
.remark-slide-content{
  font-size: 42px;
}
p {
  font-family: 'Roboto condensed';
}

.remark-slide-content {
  font-size: 22px;
  font-family: 'Roboto condensed';
}

/* Footer */
div.my-footer {
    background-color: #ffffff;
    border-top: 1px solid #A7D5E8;
    position: absolute;
    bottom: 0px;
    left: 80px;
    height: 35px;
    width: 100%;
}
div.my-footer span {
    font-size: 12pt;
    position: absolute;
    color: #333333;
    left: 20px;
    bottom: 10px;
}
div.my-footer a {
    font-size: 12pt;
    color: #333333;
}

/* Slide number */
.remark-slide-number {
  color: #333333;
  opacity: 1;
  font-size: 12pt;
}

.first-slide .remark-slide-number{
  display:none;
}

/* Custom boxes */
.question {
  border-left: solid 5px #1E5C65;
  background-color: #1E5C6530;
  padding: 1px 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 18px;
}
.alert {
  border-right: solid 5px #A7D5E8;
  background-color: #A7D5E830;
  padding: 1px 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.instructions {
  border-left: solid 5px #FFD748;
  background-color: #FFD74850;
  font-size: 18px;
  padding: 1px 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.instructions li::before {
  content: ">"; 
  color: #FFD748;
  display: inline-block; 
  margin-left: -1.5em
}
.quote {
  border-left: solid 2.5px #A7D5E8;
  background-color: #2369BE;
  color: white;
  font-size: 14px;
  padding: 1px 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}

/* Lists */
ul {
  list-style: none;
}

li::before {
  content: "✚"; 
  display: inline-block; 
  width: 1.5em;
  margin-left: -1.5em;
}

li{
  margin: 10px 0;
}

/* Code formatting */
.remark-code-line-highlighted {
  background-color: #A7D5E8;
}
.remark-code, .remark-inline-code { 
  font-family: 'Ubuntu Mono', monospace;
}